@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-color: wheat;
}

/* header start  */
header{
	background-color: #CBB8EE;
	padding: 20px 400px;
	position: sticky;  /* 고정 시킴 */
  	top: 0;
}

header a{
	color: wheat; 
  	text-decoration: none; 
}


/* header end */

#container{
	display: flex;
	position: relative;
	justify-content: space-between;
    width: 950px;
    margin: 10px auto;
    padding-bottom: 15px;
}

.btn{
	background-color: black;
	color: white;
}


.dropdown-item:active {
	color: black;
}

.search-var{
	display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.search-input{
	width: 490px;
	background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #black;
    border-radius: 5px;
}

#write-btn{
	border-radius: 5px;
    border: none;
    width: 80px;
    background-color: cadetblue;
    color: wheat;
}


/* list 부분  */
#main-container{
	position: relative;
	width: 950px;
	left: 450px;
}

#list-title{
	display: flex;
	border-bottom: 3px solid black; 
}


#articleList{
	display: flex;
	border-bottom: 1px solid black; 
}












