@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-color: wheat;
}

/* header start  */
header{
	background-color: #CBB8EE;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px 400px;
	position: sticky;  /* 고정 시킴 */
  	top: 0;
}

header a, header nav a{
	color: wheat; 
  	text-decoration: none; 
}

nav > ul{
	display: flex;
	list-style: none;
}

nav > ul >li{
	padding-right: 40px;
	font-size: 25px;
}
/* header end */


/* main */
#container{
	position: relative;
    width: 950px;
    margin: 40px auto;
    padding-bottom: 60px;
}

.btn{
	background-color: black;
	color: white;
}


.dropdown-item:active {
	color: black;
}

.search-var{
	display: flex;
	justify-content: space-around;
	padding-bottom: 80px;
}

.search-input{
	width: 490px;
	background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #black;
    border-radius: 5px;
}

#write-btn{
	border-radius: 5px;
    border: none;
    width: 80px;
    background-color: cadetblue;
    color: wheat;
}


/* list 부분  */
#list-title{
	display: flex;
	border-bottom: 3px solid black; 
}

#articleList{
	display: flex;
	border-bottom: 1px solid black; 
}








